* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.header {
  margin: 1.4rem 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  margin: 0.5rem 0;
}

canvas {
  border: 3px solid black;
  border-radius: 4px;
  margin-left: 7px;
  background-color: grey;
}

input {
  display: inline-block;
}

.controller-container {
  border: 3px solid black;
  border-radius: 4px;
  height: fit-content;
  padding: 10px 10px;
  margin: 10px 0;
}

.controller-list {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  align-items: stretch;
}

.hide {
  display: none;
}

.component-tree-item {
  margin: 5px 0;
}

.component-tree-item input {
  display: inline-block;
  margin-right: 0.5rem;
}

.component-tree-item label {
  display: inline-block;
}
